.main {
  height: 100%;
  position: absolute;
  transition: .4s;
  width: 100%;
}

.sidebar {
  visibility: hidden;
  background: #fff;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: visibility 0s, transform .4s;
  width: 300px;

  &.active {
    visibility: visible;
    transform: translateX(0);
  }
}
