.main {
  height: 100%;
  position: absolute;
  transition: .4s;
  width: 100%;
}

.sidebar {
  background: #fff;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform .4s;
  width: 300px;

  &.active {
    transform: translateX(0);
  }
}
