.header {
  background: rgba(0, 0, 0, .8);
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-100%);
  transition: .4s;
  width: 100%;
  z-index: 999;
  
  &.active {
    transform: translateY(0);
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.header-title {
  h1 {
    @include font-size(16px);
    color: #fff;
    font-weight: 100;
    line-height: 50px;
  }
}

.header-nav {
  line-height: 50px;

  a {
    color: #fff;
    margin: 0 10px;
  }
}
